.portfolio-label {
    font-size: 4vw;
    line-height: 4vw;
    color: #708090;
    margin-bottom: 4vh;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
    margin-left: auto;
    margin-right: auto;
}

.gap-content {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
    margin-left: auto;
    margin-right: auto;
}

.timeline-card-outer-left {
    margin: 0 auto;
    width: 40%;
    background-color: #36454f;
    height: 800px;
}

.timeline-card-outer-right {
    margin: 0 auto;
    width: 40%;
    background-color: #36454f;
    height: 800px;
}

.timeline-card-invisible {
    background-color: transparent;
}

.timeline-strip {
    margin: 0 auto;
    width: 10%;
}

.timeline-card-img {
    width: 100%;
}

.line {
    border-left: 6px solid #36454f;
    height: 100vh;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
    width: 5%;
}