.portfolio-label {
    font-size: 4vw;
    line-height: 4vw;
    color: #708090;
    margin-bottom: 4vh;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
    margin-left: auto;
    margin-right: auto;
}

.gap-content {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
    margin-left: auto;
    margin-right: auto;
}

.timeline-card-outer-left {
    margin: 0 auto;
    width: 35vw;
    background-color: #36454f;
    height: 40vw;
}

.timeline-card-outer-right {
    margin: 0 auto;
    width: 35vw;
    background-color: #36454f;
    height: 40vw;
}

.timeline-card-invisible {
    background-color: transparent;
}

.timeline-strip {
    margin: 0 auto;
    width: 10%;
}

.timeline-card-img {
    width: 35vw;
}

.line {
    border-left: 6px solid #36454f;
    height: 40vw;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
    width: 5%;
}

.buffer {
    margin: 0 auto;
    width: 35vw;
}

@media (max-width: 1024px) {
    .line {
        left: 150%;
    }
  }