.portfolio-label {
    font-size: 4vw;
    line-height: 4vw;
    color: #708090;
    margin-bottom: 4vh;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
    margin-left: auto;
    margin-right: auto;
    height: 40vw;
}

.gap-content {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
    margin-left: auto;
    margin-right: auto;
}

.timeline-card-outer-left {
    margin: 0 auto;
    width: 35vw;
    background-color: #36454f;
    height: 40vw;
}

.timeline-card-outer-right {
    margin: 0 auto;
    width: 35vw;
    background-color: #36454f;
    height: 40vw;
}

.timeline-card-invisible {
    background-color: transparent;
}

.timeline-strip {
    margin: 0 auto;
    width: 10%;
    margin-top: 15vw;
}

.timeline-card-img {
    width: 35vw;
}

.line {
    border-left: 6px solid #36454f;
    height: 50vw;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: -10vmin;
    width: 100%;
}

.line-element {
    position: relative;
    height: 10vh;
    width: 10vh;
    background-color: #36454f;
    border-radius: 50%;
    display: inline-block;
    top: 0px;
    z-index: 1;
}

.line-element-inner {
    height: 9vh;
    width: 9vh;
    margin-top: 0.5vh;
    background-color: #708090;
    border-radius: 50%;
    display: inline-block;
}

.line-element-inner p {
    font-size: 3vh;
    margin-top: 2vh;
    background-color: transparent;
}

.buffer {
    margin: 0 auto;
    width: 35vw;
}

@media (min-width: 1921px) {
    .timeline-card-outer-left {
        width: 679px;
        height: 776px;
        margin-left: 9vw;
    }
    .timeline-card-outer-right {
        width: 679px;
        height: 776px;
        margin-right: 9vw;
    }
    .timeline-strip {
        margin: 0 auto;
        width: 10%;
        margin-top: 0px;
    }
    .timeline-card-img {
        width: 679px;
    }
    .line {
        height: 776px;
    }
}

@media (min-width: 2766px) {
    .timeline-card-outer-left {
        margin-left: 20vw;
    }
    .timeline-card-outer-right {
        margin-right: 20vw;
    }
}

@media (max-width: 1024px) {
    .line-element {
        width: 50px;
        height: 50px;
    }
    .line-element-inner {
        height: 42px;
        width: 42px;
        margin-top: 4px;
    }
    .timeline-strip {
        margin-left: 10%;
    }
    
    .line-element-inner p {
        font-size: 14px;
        margin-top: 8px;
        background-color: transparent;
    }
    .timeline {
        height: 314px;
    }
    .timeline-card-img {
        width: 275px;
    }
    .timeline-card-outer-right {
        width: 275px;
        height: 314px;
    }
    .timeline-card-outer-left {
        width: 275px;
        height: 314px;
    }
}