.color-1 {
  background-color: #36454f;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #1B282E;
}

.App-logo {
  margin-top:-10px;
  margin-bottom:-40px;
  max-height: 20vh;
  transition-duration: 0.3s;
}

.App-logo:hover {
  margin-top:-10px;
  margin-bottom:-40px;
  max-height: 20vh;
  transform: translateY(-5%);
  transition-duration: 0.3s;
}

.App-header {
  margin-top: 0vh;
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmin;
  color: white;
  display: table;
  width: 85%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.App-header div {
  display: table-cell;
  text-align: center;
  position: relative;
}

.App-header-selected {
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
	border-image: linear-gradient(to right, #708090, 
  #36454f);
	border-image-slice: 1;
}

.App-link {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
  transition-duration: 0.3s;
  color: #708090;
}

.App-link:hover {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-60%) translateX(-50%);
  white-space: nowrap;
  transition-duration: 0.3s;
  color: #36454f;
}