@import url(https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap);
$changa-font: 'Changa', sans-serif;   
* {
  font-family: $changa-font;
  font-weight: normal;
  padding : 0;
  margin : 0;
  background-color: #1B282E;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #1B282E;
}

.App-logo {
  margin-top:-10px;
  margin-bottom:-40px;
  max-height: 20vh;
  transition-duration: 0.3s;
}

.App-logo:hover {
  margin-top:-10px;
  margin-bottom:-40px;
  max-height: 20vh;
  transform: translateY(-5%);
  transition-duration: 0.3s;
}

.App-header {
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  display: table;
  width: 85%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8vh;
}

.App-header div {
  display: table-cell;
  text-align: center;
  position: relative;
}

.App-header-selected {
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
	border-image: linear-gradient(to right, #708090, 
  #36454f);
	border-image-slice: 1;
}

.App-link {
  padding-top: 0vh;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
  transition-duration: 0.3s;
  color: #708090;
}

@media (min-width: 1921px) {
  .App-link {
    font-size: 30pt;
  }
  .App-header {
    width: 100%;
    font-size: 2vw;
    margin-left: -10pt;
    padding-top: 1vh;
  }
}

@media (max-width: 1024px) {
  .App-link {
    padding-top: 2vh;
  }
  .App-header {
    width: 100%;
    font-size: 1+1vw;
    padding-top: 1vh;
    margin-bottom: 2vh;
  }
}

@media (max-width: 480px) {
}

.App-link:hover {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-60%) translateX(-50%);
  white-space: nowrap;
  transition-duration: 0.3s;
  color: #36454f;
}

.copyright {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 98vw;
  padding-left: 1vw;
  color: #708090;
  background-color: transparent;
  font-size: 15px;
}

.content-wrap {
  padding-bottom: 25px;    /* Footer height */
}

.page-container {
  position: relative;
  min-height: 100vh;
}

// Debugging: Outline the object
.Show-box {
  border: 5pt solid red;
}