@import url(https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap);
$changa-font: 'Changa', sans-serif;   
* {
  font-family: $changa-font;
  font-weight: normal;
  padding : 0;
  margin : 0;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #1B282E;
}

.App-logo {
  margin-top:-10px;
  margin-bottom:-40px;
  max-height: 20vh;
  transition-duration: 0.3s;
}

.App-logo:hover {
  margin-top:-10px;
  margin-bottom:-40px;
  max-height: 20vh;
  transform: translateY(-5%);
  transition-duration: 0.3s;
}

.App-profile {
  margin-top: 12vh;
  max-height: 60vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmin;
  margin-left: auto;
  margin-right: auto;
}

.App-profile-image {
  max-height: 40%;
  max-width: 40%;
}

.App-profile-text {
  margin-top: 280px;
  max-width: 100%;
  font-size: 40px;
  line-height: 40px;
  color: #708090;
  animation: 
    type-line 9s steps(1, end) forwards;
}

.App-header {
  margin-top: 0vh;
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmin;
  display: table;
  width: 85%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.App-header div {
  display: table-cell;
  text-align: center;
  position: relative;
}

.App-header-selected {
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
	border-image: linear-gradient(to right, #708090, 
  #36454f);
	border-image-slice: 1;
}

.App-link {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
  transition-duration: 0.3s;
  color: #708090;
}

.App-link:hover {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-60%) translateX(-50%);
  white-space: nowrap;
  transition-duration: 0.3s;
  color: #36454f;
}

.align-icon {
  float: left;
  margin-right: 2vh;
}

.social-icon {
  float: center;
  margin-right: 4vh;
  font-size: 50pt;
}

.typer h1 {
  font-size: 60pt;
  line-height: 60pt;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3s steps(36, end),
    blinking 0.7s step-end 4;
  border-right: .10em solid #1B282E;
}

.typer h2 {
  font-size: 50px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  text-align: left;
  animation: 
    typing-h2 3s steps(36, end),
    blinking 0.7s step-end 3,
    toggle-visibility 1s step-end forwards;
    animation-delay: 3s;
  border-right: .10em solid #1B282E;
}

.typer-1 p {
  font-size: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  text-align: left;
  animation: 
    typing-p-1 1.5s steps(36, end),
    blinking 0.7s step-end 1,
    toggle-visibility 1s step-end forwards;
    animation-delay: 6s;
  border-right: .10em solid #1B282E;
}

.typer-2 p {
  margin-top: 10px;
  font-size: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  text-align: left;
  animation: 
    typing-p-2 1.5s steps(36, end),
    blinking 0.7s step-end 1,
    toggle-visibility 1s step-end forwards;
    animation-delay: 7s;
  border-right: .10em solid #1B282E;
}

.typer-3 p {
  margin-top: 10px;
  font-size: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  text-align: left;
  animation: 
    typing-p-3 1.5s steps(36, end),
    blinking 0.7s step-end 1,
    toggle-visibility 1s step-end forwards;
    animation-delay: 8s;
  border-right: .10em solid #1B282E;
}

.typer-4 p {
  margin-top: 10px;
  font-size: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  text-align: left;
  animation: 
    typing-p-4 1.5s steps(36, end),
    blinking 0.7s step-end 1,
    toggle-visibility 1s step-end forwards;
    animation-delay: 9s;
  border-right: .10em solid #1B282E;
}

.typer-5 a {
  opacity: 0;
  animation: 
    toggle-visibility 1s step-end forwards;
    animation-delay: 10s;
}

@keyframes type-line {
  0% { margin-top: 280px;}
  33% { margin-top: 160px;}
  60% { margin-top: 60px;}
  65% { margin-top: 0px;}
  100% { margin-top: 0px;}
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
}

@keyframes typing-h2 {
  0% { width: 0; }
  50% { width: 68%; }
}

@keyframes typing-p-1 {
  0% { width: 0; }
  50% { width: 82%; }
}

@keyframes typing-p-2 {
  0% { width: 0; }
  50% { width: 73%; }
}

@keyframes typing-p-3 {
  0% { width: 0; }
  50% { width: 73%; }
}

@keyframes typing-p-4 {
  0% { width: 0; }
  50% { width: 42%; }
}

@keyframes blinking {
  0%  { border-right: .10em solid #1B282E; }
  50% { border-right: .10em solid #708090; }
}

@keyframes toggle-visibility {
  0% { opacity: 0; }
  1% { opacity: 1; }
  100% { opacity: 1; }
}

// Debugging: Outline the object
.Show-box {
  border: 5pt solid red;
}